* {
    background-color: rgb(238, 220, 196);
    font-family: "Papyrus";
}

h1 {
    font-size: 30px;
    color: #4860af;
}

h2 {
    color: #4860af;
}

h3 {
    color: #4860af;
}

ul {
    list-style-type: circle;
}

.pics {
    width: 500px
}